.authorization {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  .form-control {
    margin-bottom: 1vh;
  }

}
input {
  &.ng-inalid.ng-touched {
    border: 0.1vw solid red;
  }
  &.ng-valid.ng-touched {
    border: 0.1vw solid green;
  }
}
