<div class="authorization">
  <h1>{{authorizationlLabels.authorization}}</h1>
  <form [formGroup]="authorForm">
    <div class="form-control">
      <div>{{authorizationlLabels.eterEmail}}</div>
      <input
        pInputText
        formControlName="login"
        type="text"
        placeholder="Email"
      />
      <div
        *ngIf="
          authorForm.get('login')?.invalid && authorForm.get('login')?.touched
        "
      >
        <small *ngIf="authorForm.get('login')?.errors">
          {{authorizationlLabels.emptyEmail}}
        </small>
        <small> {{authorizationlLabels.enterPassword}} </small>
      </div>
    </div>
    <div class="form-control">
      <div>{{authorizationlLabels.password}}</div>
      <input
        pInputText
        formControlName="password"
        type="password"
        placeholder="Пароль"
      />
    </div>
    <p-button
      [ngStyle]="{ 'margin-right': '10px' }"
      type="submit"
      [disabled]="authorForm.invalid"
      label="Войти"
      (onClick)="authClick()"
    ></p-button>
    <p-button (onClick)="regClick()" label="Регистрация"></p-button>
  </form>
</div>
