<div class="add-task-container">
  <form [formGroup]="addTaskForm">
   
    <div class="form-control">
      <div>Название:</div>
      <input
        pInputText
        formControlName="nameTask"
        type="text"
        placeholder="Название"
      />
    </div>

    <div class="form-control">
      <div>Приоритет:</div>
      <p-dropdown
        formControlName="priority"
        [options]="optionsPriority"
        placeholder="Приоретет"
      ></p-dropdown>
    </div>

    <div class="form-control">
      <div>Категория:</div>
      <p-dropdown
        formControlName="category"
        [options]="optionsCategory"
        placeholder="Категория"
      ></p-dropdown>
    </div>
    
    <div class="form-control">
      <div>Описание:</div>
      <textarea
        rows="5"
        formControlName="description"
        cols="30"
        pInputTextarea
        placeholder="Описание"
      >
      </textarea>
      <div> deadLine

        <p-calendar formControlName="deadLineDate"
          [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>

      </div>

    </div>
    <p-button label="Добавить"></p-button>

  </form>
</div>
