.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  .form-control {
    margin-bottom: 1vh;
  }
  .buttons-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    p-button {
      margin-right: 1vw;
    }
  }
}

input {
  width: 100%;
  &.ng-inalid.ng-touched {
    border: 0.1vw solid red;
  }
  &.ng-valid.ng-touched {
    border: 0.1vw solid green;
  }
}
