<div>
  <form [formGroup]="regForm">
    <h1>Регистрация</h1>
    <div class="form-control">
      <label>Email</label>
      <input
        pInputText
        formControlName="login"
        type="text"
        placeholder="Email"
      />
    </div>
    <div class="form-control">
      <label>Пароль</label>
      <input pInputText type="password" placeholder="Пароль" />
    </div>
    <div class="form-control">
      <label>Имя</label>
      <input pInputText type="text" placeholder="Имя" />
    </div>

    <div class="form-control">
      <p-dropdown
        formControlName="gender"
        [options]="optionsGender"
      ></p-dropdown>
    </div>

    <p-button type="submit">Отправить</p-button>
  </form>
</div>
