.page-container {
  background-color: rgb(184, 222, 255);
  max-width: 12000px;
  height: 100%;
  margin: 0px auto;
  padding: 0px 30px;
 
}
.table-container {
  background-color: rgb(99, 158, 210);

  margin: 0px auto;
  padding: 0px 30px;
}

@media screen and (max-width: 1200px) {
  .page-container {
    max-width: 970px;
    .category-panel {
      display: flex;
      margin-bottom: 20px;
      .category-form {
        margin-right: 12px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .page-container {
    max-width: 767px;
  }
}
@media screen and (max-width: 767px) {
  .page-container {
    max-width: 480px;

    .category-panel {
      flex-wrap: wrap;

      
      .category-form{
        width: 15%;
       }
    }
  }
}
@media screen and (max-width: 480px) {
  .page-container {
    max-width: none;
    .p-button-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .category-input{
        .p-inputtext {
          margin: 0;
          width: 100%;
      }

      }

    }
  }
}


.table-container {
  .icons-block {
    display: flex;
    span:first-child {
      margin-right: 5px;
    }
  }
}
