.tasks-link {
  color: #1d4ed8;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  font-weight: 600;
}
.category-input{
  display: flex;
  margin-bottom: 20px;
  .category-form{
    margin-right: 12px;
  }
}
.table-container {
  .icons-block {
    display: flex;
    span:first-child {
      margin-right: 5px;
    }
  }
}
