<p-toast></p-toast>
<div class="page-container">
  <h1>{{ categoriesListLabels.categoriesTasks }}</h1>
  <div class="category-panel">
    <div class="category-form" [formGroup]="addCategoryform">
      <input
        class="category-input"
        pInputText
        formControlName="name"
        type="text"
        placeholder="{{ categoriesListLabels.enter }}"
      />
    </div>
    <div class="p-button-container">
      <p-button
        [disabled]="addCategoryform.invalid"
        (click)="addCategory()"
        label="{{ categoriesListLabels.addCategory }}"
      ></p-button>
      <p-button (click)="openTasks()">{{
        categoriesListLabels.tasks
      }}</p-button>
    </div>
  </div>

  <div class="table-container">
    <p-table
      [value]="(categoriesTable$ | async) || []"
      dataKey="id"
      editMode="row"
      [tableStyle]="{ 'min-width': '20rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">{{ categoriesListLabels.id }}</th>
          <th style="width: 80%">{{ categoriesListLabels.name }}</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category let-editing="editing">
        <tr [pEditableRow]="category">
          <td>{{ category.id }}</td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="category.name" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ category.name }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <span *ngIf="!editing" class="pi pi-pencil" pInitEditableRow></span>
            <div *ngIf="editing" class="icons-block">
              <span
                class="pi pi-check"
                pSaveEditableRow
                (click)="saveChangesCategory(category)"
              ></span>
              <span
                class="pi pi-times"
                pCancelEditableRow
                (click)="cancelChangesCategory()"
              ></span>
            </div>
          </td>

          <td (click)="clickDeleteIcon(category.id)">
            <span class="pi pi-trash"></span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>
</div>
