.page-container {
  height: 100%;
  margin: 0 auto;
  padding: 0 0%;
  .category-panel {
    display: flex;
    padding-bottom: 1em;
    .category-form {
      margin-right: 1em;
    }
    .p-button-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      p-button{
        margin-right: 1em;
      }
    }
  }
  .pi {
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .page-container {
    .category-panel {
      margin-bottom: 1em;
    }
  }
}


@media screen and (max-width: 767px) {
  .page-container {
    .category-panel {
      flex-wrap: wrap;
      .category-input {
        margin-bottom: 1em;

        .p-inputtext {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}

.table-container {
  .icons-block {
    display: flex;
    span:first-child {
      margin-right: 1em;
    }
  }
}
