<h1>Задачи</h1>
<p-button (click)="addTask()" label="Добавить задачу"></p-button>

<div class="table-container">
  <p-table [columns]="cols" [value]="tasks" editMode="row" [tableStyle]="{

  }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task let-columns="columns" >
      <tr>
        <td *ngFor="let col of columns">{{ task[col.field] }}</td>
        <td (click)="openEditModal(task.id)">Карандаш</td>
      </tr>
    </ng-template>
  </p-table>
</div>
