.table-container {
  margin-top: 20px;
  width: 100%;
}
.exit{
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 0;
  overflow:auto;
}
.categories-link {
  color: #1d4ed8;
  position: absolute;
  right: 20%;
  top: 20%;
  cursor: pointer;
  font-weight: 600;
}
.pi {
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: space-between;
  p-button{
    margin-right: 12px;
  }
  margin-bottom: 12px;
  
}
.find-input-group{
  width: 100%;
  padding-bottom:  12px;
  
  display: flex;
  justify-content: space-between;
  input{
  margin-right: 10px;
  }

}

@media screen and (max-width: 480px) {
  .page-container {
    font-size: 1.2rem;
  }
}
