<h1>Задачи</h1>
<p-toast></p-toast>
<p-confirmDialog acceptLabel="Удалить" rejectLabel="Отмена"></p-confirmDialog>
<div class="exit">
  <p-button (click)="clickExitAccount()" icon="pi-sign-out"  label="Выход"></p-button>
</div>

<div class="button-container">
  <div class="button-search-add">
    <p-button (click)="addTask()" label="Добавить задачу"></p-button>
    <p-button
      icon="pi pi-search"
      (click)="openSearch()"
      severity="success"
    ></p-button>
  </div>
  <p-button (click)="openCategories()" label="Категории"></p-button>
</div>
<div *ngIf="visebleSearch()" class="find-input-group">
  <form [formGroup]="searchForm">
    <input type="number" pInputText placeholder="Поиск по id" />
    <input
      type="text"
      pInputText
      formControlName="name"
      placeholder="Поиск по имени"
    />
    <input
      type="text"
      pInputText
      formControlName="description"
      placeholder="Поиск по описанию"
    />
    <input
      type="date"
      pInputText
      formControlName="deadLineDate"
      placeholder="Поиск по дате"
    />
    <input
      type="text"
      pInputText
      formControlName="category"
      placeholder="Поиск по категории"
    />
    <input
      type="text"
      pInputText
      formControlName="priority"
      type="текст"
      placeholder="Поиск по приоритету"
    />
    <input
      type="text"
      pInputText
      formControlName="done"
      type="text"
      placeholder="Поиск по статусу"
    />
  </form>
</div>
<div cstyle="overflow-x :auto ;">
  <p-table
    [columns]="cols"
    [value]="tasksTable"
    editMode="row"
    [tableStyle]="{}"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th>Статус</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">{{ task[col.field] }}</td>
        <td>
          <p-checkbox [binary]="true"></p-checkbox>
        </td>
        <td (click)="openEditModal(task)">
          <span class="pi pi-pencil"></span>
        </td>
        <td (click)="clickDeleteIcon(task)">
          <span class="pi pi-trash"></span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
