.table-container{
    margin-top: 20px;
}
.categories-link{
    color:#1D4ED8;
    position: absolute;
    right: 30px;
    top:30px;
    cursor: pointer;
    font-weight: 600;
}
.p-button-container{
    display: flex;
    justify-content: space-between;
}